<div class="modal fade" id="agendaModal" tabindex="-1" role="dialog" aria-labelledby="agendaModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title" id="agendaModalLabel">Agenda</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul style="text-align: left; list-style: none; border-left: 3px solid #006699; margin-left: 1em; padding-left: 1em;">
          <li style="margin-bottom: 2em;">
            <p>10 AM – 12 Noon</p> 
            <p><strong><em>Welcome Presentation and Student Panel</em></strong></p>
          </li>
          <li style="margin-bottom: 2em;">
            <p>12 Noon – 12:30 PM</p>
            <p><strong><em>Academic Advisor Sessions</em></strong></p>
          </li>
          <li style="margin-bottom: 2em;">
            <p>12:30 – 2 PM</p>
            <p><strong><em>Lab Tours!</em></strong></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>