<div class="container">
  <div class="row">
    <div class="col-sm">
      <p></p>
      <div class="card bg-light">
        <div class="card-body">
          <p class="headline"> 
            <strong><i class="far fa-calendar-alt"></i> 10 AM EST <br>Friday, April 17th, 2020</strong>
          </p>
          <p class="headline">
            Virtual Open House <br>
            <em>Zoom Webinar</em>
          </p>
          <a href="https://drexel.zoom.us/webinar/register/WN_0ZyxzyZIRpuCsrceMcuciQ" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Register Now!</a>
          <hr>
          <h2>At our BIOMED Virtual Open House, you will discover:</h2>
          <br>
          <div class="row">
            <div class="col-sm">
              <p><i class="fas fa-dna" style="font-size: 3em; color: #ffc600;"></i></p>
              <!-- <h2>Biomedical Programs</h2> -->
              <p>
                Information about how our innovative academic programs in <strong>biomedical engineering</strong> and <strong>biomedical science</strong> integrate classroom study with cutting edge research and real-world experience
              </p>
            </div> 
            <div class="col-sm">
              <p><i class="fas fa-microscope" style="font-size: 3em; color: #ffc600;"></i></p>
              <!-- <h2>Concentrations</h2> -->
              <p>
                Details of the School’s unique characteristics and information on <strong>concentration / specialization areas</strong> available to students
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
              <p><i class="fas fa-hands-helping" style="font-size: 3em; color: #ffc600;"></i></p>
              <p>
                The facts about Drexel Graduate Co-op and how you can graduate with a MS level degree <strong>and up to 6 months of professional experience on your résumé</strong>
              </p>
            </div>
            <div class="col-sm">
              <p><i class="fas fa-map-marked-alt" style="font-size: 3em; color: #ffc600;"></i></p>
              <p>
                A chance to take a <strong>virtual tour of campus</strong> and some of our facilities
              </p>
            </div> 
          </div>
          <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">
              <p><i class="fas fa-user-graduate" style="font-size: 3em; color: #ffc600;"></i></p>
              <p>
                The opportunity to hear from <strong>current Drexel BIOMED students</strong> and hear about their experience
              </p>
            </div>
            <div class="col-sm"></div>
          </div>

        
        <hr>
        <h2 style="color: #07294d;">Hosted by</h2>
        <br>
        <p>
          <%= image_tag "biomed-blue-black-primary-png.png", style: "width: 100%; max-width: 350px;" %>
          <br>
          <%= link_to "drexel.edu/biomed", "https://drexel.edu/biomed" %>  
        </p>
      </div>  
    </div>
  </div>

  <div class="row">
    
  </div>
</div>