<div class="container">
  <div class="row no-gutters">
    <div class="col">
      <div id="carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag "skyline.jpg", alt:"..." %>
            <div class="carousel-caption d-md-block">
              <%= partial "carousel-text" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>