<div class="headline">
  <h1 class="engineeringX">
    <small>The</small> <br>
    Engineering<sup style="top: -1em; font-size: 50%;">x</sup> <br>
    <small>Open House</small>
    <br>
  </h1>
</div>