<div class="modal fade" id="programModal" tabindex="-1" role="dialog" aria-labelledby="programModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="programModalLabel">List of Programs</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p style="text-align: left;">All prospective and accepted students interested in the following disciplines are invited to attend:</p>
        <ul style="text-align: left;">
          <li>Architectural Engineering</li>
          <li>Biomedical Engineering, Biomedical Science</li>
          <li>Integrated Biomedical Engineering and Business</li>
          <li>Chemical Engineering</li>
          <li>Civil Engineering</li>
          <li>Computer Engineering</li>
          <li>Electrical Engineering</li>
          <li>Engineering Technology</li>
          <li>Environmental Engineering</li>
          <li>Materials Science and Engineering</li>
          <li>Mechanical Engineering</li>
          <li>Systems Engineering </li>
          <li>Engineering and Project Management</li>
        </ul>
      </div>
    </div>
  </div>
</div>